# Percabangan dan Perulangan

Nama: Windy Mega Melani
<br>
Code: PYTN-KS04-003
<br>
Python for Data Science

### Conditional : IF Statement

In [12]:
x = 1
y = 2

#### Less Than

In [11]:
if x < y:
    print('Correct')

Correct

#### Less Than or Equal to

In [13]:
if x <= y:
    print('Correct')

Correct

#### Greater Than

In [6]:
if x > y:
    print('Correct')

#### Greater Than or Equal to

In [8]:
if x >= y:
    print('Correct')

#### Equals

In [9]:
if x == y:
    print('Correct')

#### Not Equals

In [10]:
if x != y:
    print('Correct')

Correct

### Indentation

In [14]:
if 'win' in ['ndy','nda','ndu']:
    print('ada')
    print('benar')
    print('...')
    print('selesai.')
print('setelah kondisi')

setelah kondisi

In [17]:
if 'nanda' in ['nanda', 'windy', 'menang']:
    print('ada')
    print('benar')
    print('...')
    print('selesai.')
print('setelah kondisi')

ada
benar
...
selesai.
setelah kondisi

In [19]:
if 'nanda' and 'windy' in ['nanda', 'windy', 'menang']:
    print('Cocok')
    
    if 28>11:
        print('Tepat Sekali')
        
    if 22==22:
        print('Yak, benar!')
        
    print('Done')
print('Exit')

Cocok
Tepat Sekali
Yak, benar!
Done
Exit

In [21]:
a=11
b=28
c=b-a

if c<=a:
    print('true')
else:
    print('false')

false

#### Else and Elif

In [22]:
nama = 'windy'

if nama == 'nanda':
    print('hai nan')
elif nama == 'windy':
    print('hai win')
else:
    print('idk')

hai win

In [26]:
hargaIphone = 10000000
hargaMalu = 0
uang = 1000000

if uang > hargaIphone:
    print("beli Iphone")
elif uang > hargaMalu + hargaIphone:
    print("memang berduit")
else:
    print("banyak gaya!")

banyak gaya!

#### One-Line If Statements

In [30]:
if 'n' in 'nanda': print('yes'); print('yes'); print('you are right')

yes
yes
you are right

In [31]:
x=22
if x == 1: print('bukan');print('tanggal');print('spesial')
elif x == 22: print('yap');print('tanggal');print('spesial')
else: print('entah');print('tak tahu')

yap
tanggal
spesial

### Conditional Expressions : Ternary Operator

In [33]:
diskon = False
print("Kita belanja", "yuk!" if not diskon else "Gak ah, mahal")

Kita belanja yuk!

In [35]:
diskon = True
print("Kita belanja yuk!" if not diskon else "Gak ah, mahal")

Gak ah, mahal

In [36]:
'yes' if ('nanda' in ['windy','nanda','menang']) else 'no'

'yes'

In [39]:
a=11
b=28

if a>b:
    c=a
else:
    c=b
    
print(c)

28

### Pass Statement

In [41]:
if True:
print('Correct')

IndentationError: expected an indented block (<ipython-input-41-0a506735ab83>, line 2)

In [42]:
if True:
    pass
print('Correct')

Correct

### While

In [45]:
i = 1

while i < 11:
    print('Aku pasti jadi Data Scientist')
    i += 1

Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist
Aku pasti jadi Data Scientist

In [48]:
n = 4

while n > 1:
    n -=1
    print(n)

3
2
1

In [54]:
x = 0

while x>=0:
    x+=1
    print(x)
    if x == 3:
        break
print('Exit')

1
2
3
Exit

#### Else

In [58]:
x = 4
while x > 1:
    x-=1
    print(x)
else:
    print('Exit')

3
2
1
Exit

In [63]:
x = 0
while x >= 0:
    x+=1
    print(x)
    if x==3:
        break
else:
    print('Exit')

1
2
3

#### Nested While Loops

In [73]:
age = 80
gender = 'P'

if age < 18:
    if gender == 'L':
        print('adek')
    else:
        print('kakak')
elif age >= 18 and age < 65:
    if gender =='L':
        print('papa')
    else:
        print('mama')
else: 
    if gender == 'L':
        print('akung')
    else:
        print('uti')

uti

In [74]:
a = ['nanda', 'windy']

while len(a):
    print(a.pop(0))
    
    b = ['menang', 'banyak']
    
    while len(b):
        print('=>', b.pop(0))

nanda
=> menang
=> banyak
windy
=> menang
=> banyak

In [75]:
a = ['nanda', 'windy']

while len(a):
    print(a.pop(0))
    
b = ['menang', 'banyak']
    
while len(b):
    print('=>', b.pop(0))

nanda
windy
=> menang
=> banyak

In [76]:
a = ['nanda', 'windy']

while len(a):
    print(a.pop(0))

nanda
windy

In [77]:
b = ['menang', 'banyak']
    
while len(b):
    print('=>', b.pop(0))

=> menang
=> banyak

#### Contoh Penggunaan:

In [103]:
suhu = input("Masukkan Suhu untuk dikonversi, eg. 45F, 120C: ")
drjt = int(suhu[:-1])
inputan = suhu[-1]

if inputan.upper() == "C":
  hasil1 = float((9 * drjt) / 5 + 32)
  hasil2 = float(drjt + 273.15)
  hasil3 = float(4/5 * drjt)
  jenisX = "Celcius"
  jenis1 = "Fahrenheit"
  jenis2 = "Kelvin"
  jenis3 = "Reamur"
                
elif inputan.upper() == "F":
  hasil1 = float((drjt - 32) * 5 / 9)
  hasil2 = float(((drjt - 32) * 5 / 9) + 273.15)
  hasil3 = float(4/9 * (drjt-32))
  jenisX = "Fahrenheit"
  jenis1 = "Celsius"
  jenis2 = "Kelvin"
  jenis3 = "Reamur"
elif inputan.upper() == "K":
  hasil1 = float(drjt - 273.15)
  hasil2 = float(((drjt - 273.15) * 9 / 5)+32)
  hasil3 = float(4/5 * (drjt-273))
  jenisX = "Kelvin"
  jenis1 = "Celcius"
  jenis2 = "Fahrenheit"
  jenis3 = "Reamur"
elif inputan.upper() == "R":
  hasil1 = float((5/4) * drjt)
  hasil2 = float((9/4 * drjt) + 32)
  hasil3 = float((5/4 * drjt) + 273)
  jenisX = "Reamur"
  jenis1 = "Celcius"
  jenis2 = "Fahrenheit"
  jenis3 = "Kelvin"
else:
   print("Inputan tidak sesuai!! Perhatikan Penulisan Input")

print(drjt,jenisX,"=","{:.1f}".format(hasil1),jenis1)
print(drjt,jenisX,"=","{:.1f}".format(hasil2),jenis2)
print(drjt,jenisX,"=","{:.1f}".format(hasil3),jenis3)

Masukkan Suhu untuk dikonversi, eg. 45F, 120C: 82F
82 Fahrenheit = 27.8 Celsius
82 Fahrenheit = 300.9 Kelvin
82 Fahrenheit = 22.2 Reamur

In [104]:
while True:
    msg = input("Ketikkan keyword: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikkan keyword: stop
stop